body {
    margin: 0;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    border: solid lightgrey 2px;
    border-radius: 10px;
}
